<form>
  <p-card>
    <span class="p-float-label">
       <input type="text" id="firts_name" pInputText formControlName="firts_name">
       <label for="firts_name">Nombres del Estudiante:</label>
    </span>
    <span class="p-float-label">
       <input type="text" id="last_name" pInputText formControlName="last_name">
       <label for="last_name">Apellidos del Estudiante:</label>
    </span>
    <span class="p-float-label">
       <input type="text" id="cedula" pInputText formControlName="cedula">
       <label for="cedula">Cedula del Estudiante:</label>
    </span>
    <span class="p-float-label">
       <input type="text" id="username" pInputText formControlName="username">
       <label for="username">Nombre de Usuario:</label>
    </span>
    <span class="p-float-label">
       <input type="text" id="telefono" pInputText formControlName="telefono">
       <label for="telefono">Telefono del Estudiante:</label>
    </span>
    <span class="p-float-label">
       <input type="text" id="correo" pInputText formControlName="correo">
       <label for="correo">Correo del Estudiante:</label>
    </span>
    <span class="p-float-label">

       <label >Correo del Estudiante:</label>
    </span>
    <span class="p-float-label">
       <input type="password" id="password" pInputText formControlName="password">
       <label for="password">Contraseña:</label>
    </span>
    <input type="submit" value="Registrar" (click)="submitForm()" pButton />
  </p-card>
</form>
